@model List<LifeSureProject.Models.DataModels.TblFeature>

<div class="header-carousel owl-carousel">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        var reverseClass = i % 2 == 1 ? "flex-lg-row-reverse" : "";

        <div class="header-carousel-item bg-primary">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row g-4 align-items-center @reverseClass">

                        <div class="col-lg-7 animated fadeInLeft">
                            <div class="text-sm-center text-md-start">
                                <h4 class="text-white text-uppercase fw-bold mb-4">LifeSure'a Hoşgeldiniz</h4>
                                <h1 class="display-1 text-white mb-4">@item.FeatureTitle</h1>
                                <p class="mb-5 fs-5 text-white">
                                    @item.FeatureDescription
                                    @item.FeatureOtherDescription
                                </p>
                                <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="@item.VideoUrl">
                                        <i class="fas fa-play-circle me-2"></i> @Resources.SharedResource.FeatureVideoButton
                                    </a>
                                    <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="@item.FeatureLink">
                                        @Resources.SharedResource.FeatureSeeDetail
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 animated fadeInRight">
                            <div class="calrousel-img text-center">
                                <img src="@item.ImageUrl" class="img-fluid w-100" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>